.ios, .md {

    home-page {
    
        ion-item {
        background-color: #ECF0F1;
        border-bottom: none !important;
            p {
                color: #E74C3C;
            }
        }
    
        ion-label {
        white-space: normal;
        }
    
        ion-item-sliding {
        margin: 10px;
        }
    
    }

}
